/* sidebar */
.sidebar {
  display: none;
  /* display: flex; */
  /* border: 3px solid green; */
  position: fixed;
  right: 0;
  flex-direction: column;
  height: 100vh;
  background: var(--backgroundSidebar);
}

.sidebar-menu {
  height: 6.25rem;
  width: 6.25rem;
  background: var(--blue);
  display: flex;
  justify-content: center;
  align-items: center;
}
.sidebar-menu i {
  color: var(--white);
  font-size: 1.5rem;
}
.sidebar-sticks {
  /* border: 2px solid yellow; */
  padding: 1rem;
  color: var(--white);

  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}
.sidebar-sticks-item {
  color: var(--white);
  font: var(--text);
}

.sidebar-sticks-item i {
  margin-left: 0.5rem;
}

.sidebar-sticks-item:hover {
  transform: scale(1.2);
}

@media screen and (min-width: 768px) {
  .sidebar {
    display: flex;
  }
}
